<h1 class="text-3xl font-bold mb-6">Your Shortened URLs</h1>

<%= link_to 'Create New Short URL', new_short_url_path, class: "inline-block mb-4 px-4 py-2 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700" %>

<div class="space-y-4">
  <% @short_urls.each do |short_url| %>
    <div class="bg-white p-4 rounded-lg shadow-md flex justify-between items-center">
      <div>
        <strong>Short URL:</strong> 
        <%= link_to "#{ENV['ROOT_URL']}#{short_url.short_code}", short_path(short_url.short_code), class: "text-indigo-600 hover:underline" %>
        <br>
        <strong>Original URL:</strong> 
        <%= link_to short_url.original_url, short_url.original_url, class: "text-gray-600 hover:underline" %>
      </div>
      <button class="bg-indigo-600 text-white py-1 px-4 rounded hover:bg-indigo-700" data-action="click->copy#copy" data-url="<%= short_path(short_url.short_code) %>">Copy</button>
    </div>
  <% end %>
</div>
