<p><%= t('devise.mailer.greeting', email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed.notify_change_pending', new_email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('devise.mailer.email_changed.notify_change_complete', new_email: @resource.email) %></p>
<% end %>
